@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserModel;

<div style="border:solid;border-color:black;background-color:lightgreen;margin-bottom:30px;">

                <p><h4 style="color:whitesmoke;background-color:black">Naam: @Model.Naam</h4></p><br/>
                <p><b>UserId:</b> @Model.UserId</p><br/>
                <p><b>Geboortedatum:</b> @Model.Geboortedatum</p><br/>
                <p><b>HuurderId:</b> @Model.HuurderId</p><br/>
                <p><b>VerhuurderId:</b> @Model.VerhuurderId</p><br/>
                @*<form action="@Url.Action("RentMotor","Rent")" method="post">
    <table>
        <tr style="display:none">
            <td><b>MotorId:</b> </td>
            <td><input type="number" name="id" id="id" value="@item.MotorId" readonly/></td>
        </tr>
        <tr>
            <td><b>Ophaaldatum:</b> </td>
            <td><input type="datetime-local" name="pickUpDate" id="pickUpDate" required/></td>
        </tr>
        <tr>
            <td><b>Inleverdatum:</b> </td>
            <td><input type="datetime-local" name="returnDate" id="returnDate" required /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Rent Motor" class="btn btn-info my-4" /></td>
        </tr>
    </table>
</form>*@


                </div>