@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserModel;

<div style="border:solid;border-color:black;background-color:lightgreen;margin-bottom:30px;">

                <p><h4 style="color:whitesmoke;background-color:black">Naam: @Model.Naam</h4></p><br/>
                <p><b>UserId:</b> @Model.UserId</p><br/>
                <p><b>Geboortedatum:</b> @Model.Geboortedatum (@Model.Leeftijd)</p><br/>
                <p><b>HuurderId:</b> @Model.HuurderId</p><br/>
                <p><b>VerhuurderId:</b> @Model.VerhuurderId</p><br/>
                <form action="@Url.Action("EditAccount","Account")" method="post">

                      <input type="submit" value="Wijzig" class="btn btn-info my-4" />
         
                </form>
                    <form action="@Url.Action("DeleteAccount","Account")" method="post">

             <input type="submit" value="Verwijder" class="btn btn-danger my-4" />
         
                </form>
                <p>Bij verwijderen account worden alle motoren en bijbehorende huurverzoeken verwijderd.</p>

                </div>