@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Huur overzicht";
}
@model ViewModel;

@using (Html.BeginForm("HuurLijstSelected", "Home", FormMethod.Post))
{
    <h4>Selecteer motor: </h4>

    @Html.DropDownListFor(x => x.MotorId, Model.Motors, new { @onchange = "form.submit();"})
}

<h1>Overzicht van gehuurde motoren</h1>
<table style="border: 1px solid;width:75%;">
@foreach (var item in Model.HuurderMotorModels)
{
    <tr style="border-top: 1px solid;">
        <td><b>HuurderMotorId:</b></td>
        <td>@item.HuurderMotorId</td>
    </tr>
    <tr>
        <td><b>MotorId:</b></td>
        <td>@item.MotorId</td>
    </tr>
    <tr>
        <td><b>HuurderId:</b></td>
        <td>@item.HuurderId</td>
    </tr>
    <tr>
        <td><b>Ophaaldatum:</b></td>
        <td>@item.OphaalDatum</td>
    </tr>
    <tr style="border-bottom: 1px solid;">
        <td><b>Inleverdatum:</b></td>
        <td>@item.InleverDatum</td>
    </tr>
        
    }
</table>