@{
    ViewData["Title"] = "Home Page";
}
@model ViewModel;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div style="display:flex;justify-content:space-evenly">
    @foreach (var item in Model.MotorModels)
    {
        <div style="border:solid;border-color:black;background-color:lightgreen;">
            <p><b>Motor: @item.MotorId</b></p><br/>
            <p><b>Merk:</b> @item.Model</p><br/>
            <p><b>Bouwjaar:</b> @item.Bouwjaar</p><br/>
            <p><b>Prijs/dag:</b> @item.Prijs</p><br/>
            <p><b>Status:</b> @item.Status</p><br/>
        </div>
        
    }
    </div>
</div>
